*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    
}
.corpo{

    display: flex;
    border: solid;
    width: 330px;
    flex-direction: column;
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.calculadora{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #333;
    width: 240px;
    height: 230px;
    border-radius: 9px;

}

div{
    padding: 12px;
    margin: 5px;
    border: 2px solid;
    color: aliceblue;
    border-radius: 10px;
    user-select: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.inp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.inpu{
    background-color: aquamarine;
}

div:hover{
   background-color: red;
}

.equacao{
    background-color: aqua;
    color: #333;
}

.equacao:hover{
    background-color:aqua ;
}

.clicou{
    height: 40px;
    width: 40px;
    

}
